@keyframes blink-smooth {
  50% { color: transparent; }
}

h1 {
  font-size: 3em;
  white-space: nowrap;
  /* animation: blink-smooth 1s steps(1) 3; */
  animation: blink-smooth 2s linear 3 alternate;
}
