button {
	padding: .3em .8em;
  margin-top: 16px;
  border: 1px solid rgba(0,0,0,.1);
  background-image: linear-gradient(hsla(0,0%,100%,.2),
                                    transparent);
  border-radius: .2em;
  box-shadow: 0 .05em .25em rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -.05em .05em rgba(0,0,0,.5);
  font-size: 125%;
  line-height: 1.5;
}

button.yes {
  margin-left: 16px;
  background-color: #58a;
}

button.ok { background-color: #6b0; }

button.cancel { background-color: #c00; }

button:focus { outline: none; }

.callout {
  position: relative;
  width: 20em;
  padding: .5em;
  margin-top: 24px;
  margin-left: 16px;
  /* background: #fafad2; */
  background: #fed;
  border: 1px solid #c8c1ba;
  border-radius: 4px;
  box-shadow: 2px 2px 8px #ccc;
  white-space: pre-wrap;
  font-size: 14px;
}

.callout::before {
  content: '';
  position: absolute;
  top: -.4em;
  left: 1em;
  padding: .35em;
  background: inherit;
  border: inherit;
  border-right: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}
