.picture {
  float: left;
  width: 200px;
  margin-top: 40px;
  margin-left: 40px;
  overflow: hidden;
  transform: rotate(45deg);
}

.picture > img {
  max-width: 100%;
  transform: rotate(-45deg) scale(1.42);
}

.picture-clip {
  width: 280px;
  margin-left: 48px;
  clip-path: polygon(50% 0,
                     100% 50%,
                     50% 100%,
                     0 50%);
}
